.main-chat
  .main-chat__header
    .main-chat__header__box
      .main-chat__header__box__group
        .main-chat__header__box__group__name
          %p
            = @group.name
        
        %ul.main-chat__header__box__group__member
          Member :
          %li.main-chat__header__box__group__member_name
            - @group.group_users.each do |group_user|
              = group_user.user.name
      = link_to "Edit" ,edit_group_path(@group) ,class: "main-chat__header__box__edit"

  .main-chat__contents
    - @messages.each do |message|
      .main-chat__contents__group
        .main-chat__contents__group__name-time
          .main-chat__contents__group__name-time__name
            %p
              = message.user.name
          .main-chat__contents__group__name-time__time
            %p
              = message.created_at.strftime("%Y/%m/%d %H:%M")
        .main-chat__contents__group__message
          - if message.content.present?
            %p= message.content
          = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  .main-chat__footer
    = form_for [@group, @message] do |f|
      .main-chat__footer__text
        .main-chat__footer__text__message
          = f.text_field :content, class: 'main-chat__footer__text__message__input', placeholder: 'message'
          = f.label :image, class: 'main-chat__footer__text__message__img' do
            %i.far.fa-image
            = f.file_field :image, class: 'main-chat__footer__text__message__img__file'
        = f.submit 'Send', class: 'main-chat__footer__text__btn'

